@include keyframes(dogMove) {
    0% {
        right: -60vw;
        top: 30vh;
    }
    10% {
        right: -54vw;
        top: 28vh;
    }
    20% {
        right: -44vw;
        top: 20vh;
    }
    30% {
        right: -36vw;
        top: 28vh;
    }
    40% {
        right: -28vw;
        top: 30vh;
    }
    50% {
        right: -20vw;
        top: 22vh;
    }
    60% {
        right: -12vw;
        top: 20vh;
    }
    70% {
        right: -4vw;
        top: 22vh;
    }
    80% {
        right: 4vw;
        top: 30vh;
    }
    90% {
        right: 12vw;
        top: 28vh;
    }
    100% {
        right: 20vw;
        top: 25vh;
    }
}
@include keyframes (turn360deg) {
    from {
        @include css3 (transform, rotate(360deg));
    }
    to {
        @include css3 (transform, rotate(0deg));
    }
}
@include keyframes(bounce) {
    0% {
        opacity: .5;
        @include css3(transform, scale(.7, .7));
    }
    100% {
        opacity: 1;
    }
}
@include keyframes (circle) {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg)
    }
}


@include keyframes (circle2) {
    from {
        @include css3(transform, rotate(0deg))
    }
    to {
        @include css3(transform, rotate(360deg))
    }
}

@include keyframes (fade-out) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@include keyframes(rotateY360deg) {
    from {
        @include css3(transform, rotateY(0deg));
    }
    to {
        @include css3(transform, rotateY(360deg));
    }
}
@include keyframes (none-block) {
    from {
        opacity: .8;
        bottom: 5vh;
        @include css3(transform, scale(1.5, 1));
    }
    to {
        opacity: 0;
        bottom: 2vh;
        @include css3(transform, scale(.5, .5));
    }
}