@import './_mixin';
@import './_keyframes';
* {
    margin: 0;
    padding: 0;
}

body {
    background: #c00;
}

.P2_img_2 {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.page {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;

    .lantern {
        text-align: center;
        img {
            height: 71vh;
        }
    }
    .icon-arrow-down {
        color: #fff;
        display: block;
        font-size: 15vw;
        position: absolute;
        bottom: 5vh;
        left: 42.5vw;
        @include css3(transform, scale(1.5, 1));
        @include css3(animation, none-block 1s infinite alternate);
    }
}

.page1 {
    background: url(../img2/p1_bg.jpg);
    .p1_img_2 {
        height: 20vh
    }
    .color-black {
        color: black!important
    }
    .circular {
        width: 45vw;
        height: 45vw;
        position: absolute;
        top: 23vh;
        left: 27.5vw;
    }
    @at-root .active.page1 {
        .circular svg {
            display: block;
            overflow: visible;
            font-size: 8px;
            @include css3(animation, turn360deg 8s linear infinite);
        }
        .circular path {
            fill: none;
        }
        .lantern::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 28vh;
            margin: auto;
            width: 30vw;
            height: 30vw;
            background-color: #f00;
            border-radius: 50%;
            opacity: .5;
            box-shadow: 0 0 8vw 8vw #f00;
            @include css3(animation, bounce 1s infinite alternate);
        }
    }
}

// 安卓（至少我的一加2）keyframes 不兼容问题
// 需要使用-webkit-animation: bounce 1s infinite alternate;
// 以及@-webkit-keyframes来生成和调用动画CSS
.page2 {
    img {
        position: absolute
    }
    .circle1 {
        top: 37vh;
        left: 30vw;
        width: 40vw;
    }
    .circle2 {
        top: 34vh;
        left: 25vw;
        width: 50vw;
    }
    .circle3 {
        left: 20vw;
        top: 32vh;
        width: 60vw;
    }
    .circle4 {
        width: 40vw;
        top: 37vh;
        left: 30vw;
    }
    .page2_slide {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: -100vw;
        top: 0vh;
        @include css3(transition, left 1s linear);
    }
    @at-root .active.page2 {
        .circle4 {
            @include css3(animation, fade-out 4s 1);
        }
        .circle1,
        .circle3 {
            @include css3(animation, circle 1.5s infinite linear);
        }
        .circle2 {
            @include css3(animation, circle2 1.5s infinite linear);
        }
        .page2_slide {
            left: 0;
            @include css3(animation, rotateY360deg 1s 1 linear);
        }
    }
}

.page3 {

    .p2_img_1 {
        height: 40vh;
        display: block;
        position: absolute;
        top: 30vh;
        left: 130vw;
        @include css3(transition, all .5s);
    }
    @at-root .active.page3 {
        .p2_img_1 {
            left: 30vw;
            @include css3(animation, bounce 1.2s infinite alternate);
        }
    }
}

.page4 {
    img {
        position: absolute;
        z-index: 1;
        @include css3(transition, all 1.5s linear);
    }
    .dog {
        width: 60vw;
        top: 25vh;
        right: 20vw;
        z-index: 2;
    }

    .cloudTop {
        top: -10vh;
        right: -40vw;
        width: 40vw;
    }
    .cloudBottom {
        width: 50vw;
        bottom: -30vh;
        left: -45vw;
        @include css3(transform, rotateY(180deg));
    }
    .fontNY {
        width: 50vw;
        bottom: 10vh;
        right: -50vw;

    }
    @at-root .active.page4 {
        .cloudTop {
            right: 0;
            top: 10vh;
        }
        .dog {
            @include css3(animation, dogMove 2s 1 linear);
        }
        .cloudBottom {
            left: 0;
            bottom: 30vh;
        }
        .fontNY{right:42vw;}
    }
}

.page5 {
    img {
        position: absolute;
    }
    .centerFont {
        top: 30vh;
        left: 25vw;
        width: 50vw;
    }
    .leftFont {
        top: 10vh;
        left: 5vw;
        width: 30vw;
        @include css3(transform, rotateZ(15deg))
    }
    .rightFont {
        top: 10vh;
        right: 5vw;
        width: 30vw;
        @include css3(transform, rotateZ(-15deg))
    }
}

.music {
    position: fixed;
    right: 4vw;
    top: 3vh;
    width: 15vw;
    height: 15vw;
    border: 4px solid #ef1639;
    border-radius: 50%;
    background-color: #fff;
    img:first-of-type {
        position: absolute;
        width: 80%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 1
    }
    img:last-of-type {
        position: absolute;
        width: 28.241%;
        top: 24%;
        right: 2.5%;
        z-index: 2;
    }
    img.play {
        @include css3 (animation, circle2 4s linear infinite);
    }
}