@import './_mixin';
* {
    margin: 0;
    padding: 0;
}

body {
    background: #c00;
}

.P2_img_2 {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.page {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;

    .lantern {
        text-align: center;
        img {
            height: 71vh;
        }
    }
}

.page1 {
    background: url(../img2/p1_bg.jpg);
    .p1_img_2 {
        height: 20vh
    }
    .color-black {
        color: black!important
    }
}

.circular {
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: 23vh;
    left: 27.5vw;
}

.active .circular svg {
    display: block;
    overflow: visible;
    font-size: 8px;
    @include css3(animation, turn360deg 8s linear infinite);
}

.circular path {
    fill: none;
}


@include keyframes (turn360deg) {
    from {
        @include css3 (transform, rotate(360deg));
    }
    to {
        @include css3 (transform, rotate(0deg));
    }
}



.page.active .lantern::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 28vh;
    margin: auto;
    width: 30vw;
    height: 30vw;
    background-color: #f00;
    border-radius: 50%;
    opacity: .5;
    box-shadow: 0 0 8vw 8vw #f00;
    @include css3(animation, bounce 1s infinite alternate);
}

@keyframes bounce {
    0% {
        opacity: .5;
        @include css3(transform, scale(.7, .7));
    }
    100% {
        opacity: 1;
    }
}

// 安卓（至少我的一加2）keyframes 不兼容问题
// 需要使用-webkit-animation: bounce 1s infinite alternate;
// 以及@-webkit-keyframes来生成和调用动画CSS
@-webkit-keyframes bounce {
    0% {
        opacity: .5;
        @include css3(transform, scale(.8, .8));
    }
    100% {
        opacity: 1;
    }
}

.page3 {

    .p2_img_1 {
        height: 40vh;
        display: block;
        position: absolute;
        top: 30vh;
        left: 130vw;
        @include css3(transition, all .5s);
    }
}

.active.page3 {
    .p2_img_1 {
        left: 30vw;
        @include css3(animation, bounce 1.2s infinite alternate);
    }
}

.page2 {
    img {
        position: absolute
    }
    .circle1 {
        top: 37vh;
        left: 30vw;
        width: 40vw;
    }
    .circle2 {
        top: 34vh;
        left: 25vw;
        width: 50vw;
    }
    .circle3 {
        left: 20vw;
        top: 32vh;
        width: 60vw;
    }
    .circle4 {
        width: 40vw;
        top: 37vh;
        left: 30vw;
    }
    .page2_slide {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: -100vw;
        top: 0vh;
        @include css3(transition, left 1s linear);
    }
}

@include keyframes (circle) {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg)
    }
}


@include keyframes (circle2) {
    from {
        @include css3(transform, rotate(0deg))
    }
    to {
        @include css3(transform, rotate(360deg))
    }
}

@include keyframes (fade-out) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.active.page2 {
    .circle4 {
        @include css3(animation, fade-out 4s 1);
    }
    .circle1,
    .circle3 {
        @include css3(animation, circle 1.5s infinite linear);
    }
    .circle2 {
        @include css3(animation, circle2 1.5s infinite linear);
    }
    .page2_slide {
        left: 0;
        @include css3(animation, rotateY360deg 1s 1 linear);
    }
}


@include keyframes(rotateY360deg) {
    from {
        @include css3(transform, rotateY(0deg));
    }
    to {
        @include css3(transform, rotateY(360deg));
    }
}

.icon-arrow-down {
    color: #fff;
    display: block;
    font-size: 15vw;
    position: absolute;
    bottom: 5vh;
    left: 42.5vw;
    @include css3(transform, scale(1.5, 1));
    @include css3(animation, none-block 1s infinite alternate);
}



@include keyframes (none-block) {
    from {
        opacity: .8;
        bottom: 5vh;
        @include css3(transform, scale(1.5, 1));
    }
    to {
        opacity: 0;
        bottom: 2vh;
        @include css3(transform, scale(.5, .5));
    }
}

.page4 {
    .dog {
        width: 60vw;
        position: absolute;
        top: 25vh;
        right: 20vw;
       
    }

    .cloud {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100vw;
        @include css3(transition, all 1s linear);
    }
}

@include keyframes(dogMove) {
    0% {
        right: -60vw;
        top: 30vh;
    }
    10% {
        right: -54vw;
        top: 28vh;
    }
    20% {
        right: -44vw;
        top: 20vh;
    }
    30% {
        right: -36vw;
        top: 28vh;
    }
    40% {
        right: -28vw;
        top: 30vh;
    }
    50% {
        right: -20vw;
        top: 22vh;
    }
    60% {
        right: -12vw;
        top: 20vh;
    }
    70% {
        right: -4vw;
        top: 22vh;
    }
    80% {
        right: 4vw;
        top: 30vh;
    }
    90% {
        right: 12vw;
        top: 28vh;
    }
    100% {
        right: 20vw;
        top: 25vh;
    }
}

.active.page4 {
    .cloud {
        left: 0
    }
    .dog{
        @include css3(animation, dogMove 2s 1 linear);
    }
}