* {
    margin: 0;
    padding: 0;
}

body {
    background: #c00;
}

.P2_img_2 {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.page {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;

    .lantern {
        text-align: center;
        img {
            height: 71vh;
        }
    }
}

.page1 {
    background: url(../img2/p1_bg.jpg);
    .p1_img_2 {
        height: 20vh
    }
    .color-black {
        color: black!important
    }
}

.circular {
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: 23vh;
    left: 27.5vw;
}

.active .circular svg {
    display: block;
    overflow: visible;
    font-size: 8px;
    -webkit-animation: turn360deg 8s linear infinite;
    animation: turn360deg 8s linear infinite;
}

.circular path {
    fill: none;
}

@-webkit-keyframes turn360deg {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes turn360deg {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}



.page.active .lantern::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 28vh;
    margin: auto;
    width: 30vw;
    height: 30vw;
    background-color: #f00;
    border-radius: 50%;
    opacity: .5;
    box-shadow: 0 0 8vw 8vw #f00;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        opacity: .5;
        -webkit-transform: scale(.7, .7);
        transform: scale(.7, .7);
    }
    100% {
        opacity: 1;
    }
}

// 安卓（至少我的一加2）keyframes 不兼容问题
// 需要使用-webkit-animation: bounce 1s infinite alternate;
// 以及@-webkit-keyframes来生成和调用动画CSS
@-webkit-keyframes bounce {
    0% {
        opacity: .5;
        -webkit-transform: scale(.8, .8);
        transform: scale(.8, .8);
    }
    100% {
        opacity: 1;
    }
}

.page2 {

    .p2_img_1 {
        height: 40vh;
        display: block;
        position: absolute;
        top: 30vh;
        left: 130vw;
        -webkit-transition: left 1s linear;
        transition: all .5s;
    }
}

.active.page2 {
    .p2_img_1 {
        left: 30vw;
        -webkit-animation: bounce 1.2s infinite alternate;
        animation: bounce 1.2s infinite alternate;
    }
}

.page3 {
    img {
        position: absolute
    }
    .circle1 {
        top: 37vh;
        left: 30vw;
        width: 40vw;
    }
    .circle2 {
        top: 34vh;
        left: 25vw;
        width: 50vw;
    }
    .circle3 {
        left: 20vw;
        top: 32vh;
        width: 60vw;
    }
    .circle4 {
        width: 40vw;
        top: 37vh;
        left: 30vw;
    }
    .page3_slide {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: -100vw;
        top: 0vh;
        -webkit-transition: left 1s linear;
        transition: left 1s linear;
    }
}

@-webkit-keyframes circle {
    from {
        -webkit-transform: rotate(360deg)
    }
    to {
        -webkit-transform: rotate(0deg)
    }
}

@keyframes circle {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg)
    }
}

@-webkit-keyframes circle2 {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes circle2 {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.active.page3 {
    .circle4 {
        -webkit-animation: fade-out 4s 1;
        animation: fade-out 4s 1;
    }
    .circle1,
    .circle3 {
        -webkit-animation: circle 1.5s infinite linear;
        animation: circle 1.5s infinite linear;
    }
    .circle2 {
        -webkit-animation: circle 1.5s infinite linear;
        animation: circle2 1.5s infinite linear;
    }
    .page3_slide {
        left: 0;
        -webkit-animation: rotateY360deg 1s 1 linear;
        animation: rotateY360deg 1s 1 linear;
    }
}

@-webkit-keyframes rotateY360deg {
    from {
        -webkit-transform: rotateY(0deg)
    }
    to {
        -webkit-transform: rotateY(360deg)
    }
}

@keyframes rotateY360deg {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg)
    }
}

.icon-arrow-down {
    color: #fff;
    display: block;
    font-size: 15vw;
    position: absolute;
    bottom: 5vh;
    left: 42.5vw;
    -webkit-transform: scale(1.5, 1);
    transform: scale(1.5, 1);
    -webkit-animation: none-block 1s infinite alternate;
    animation: none-block 1s infinite alternate;
}

@-webkit-keyframes none-block {
    from {
        opacity: .8;
        bottom: 5vh;
        -webkit-transform: scale(1.5, 1);
    }
    to {
        opacity: 0;
        bottom: 2vh;
        -webkit-transform: scale(.5, .5);
    }
}

@keyframes none-block {
    from {
        opacity: .8;
        bottom: 5vh;
        transform: scale(1.5, 1);
    }
    to {
        opacity: 0;
        bottom: 2vh;
        transform: scale(.5, .5);
    }
}